<div class="topnav">
    <p><a class="active" [routerLink]="['/login']">Logout</a></p>
    <p><a [routerLink]="['/view']" [queryParams]="{name: LoginName}">All Listings</a></p>
    <p><a [routerLink]="['/search']" [queryParams]="{name: LoginName}">Search Listings</a></p>
  </div>


<h2>Welcome {{LoginName}}</h2>
<h1>All listings</h1>
<mat-card class="entry" *ngFor="let list of ListingsOutput | async" >
    <p>listing title: {{list.listing_title}}</p>
    <p>description: {{list.description}}</p>
    <p>street: {{list.street}}</p>
    <p>city: {{list.city}}</p>
    <p>price: {{list.price}}</p>
    <p>email: {{list.email}}</p>
    <p>username: {{list.username}}</p>
    <p>postal_code: {{list.postal_code}}</p>
</mat-card>
