<div class="topnav">
    <p><a class="active" [routerLink]="['/login']">Logout</a></p>
    <p><a [routerLink]="['/viewbook']" [queryParams]="{name: LoginName}">all bookings</a></p>
    <p><a [routerLink]="['/search']" [queryParams]="{name: LoginName}">search Listings</a></p>
</div>
<body>
<h1>All Listings</h1>
<h2>Click the button below to book</h2>


<h3>Welcome {{LoginName}}</h3>

<mat-card class="entry" *ngFor="let list of ListingsOutput | async">
    <mat-card-content>listing id: {{list.listing_id}}</mat-card-content>
    <mat-card-content>listing title: {{list.listing_title}}</mat-card-content>
    <mat-card-content>description: {{list.description}}</mat-card-content>
    <mat-card-content>street: {{list.street}}</mat-card-content>
    <mat-card-content>city: {{list.city}}</mat-card-content>
    <mat-card-content>price: {{list.price}}</mat-card-content>
    <mat-card-content>email: {{list.email}}</mat-card-content>
    <mat-card-content>username: {{list.username}}</mat-card-content>
    <mat-card-content>postal_code: {{list.postal_code}}</mat-card-content>
    <mat-card-content><b>Book this location</b></mat-card-content>
    <form [formGroup]="bookingform" (ngSubmit)="onSubmit(list)">

        <p>
        <label for="booking_id">Booking ID number </label>
        <input type="text" id="booking_id" name="booking_id" formControlName="booking_id">
    </p><p>
        <label for="booking_start">Booking Start  </label>
        <input type="text" id="booking_start" name="booking_start" formControlName="booking_start" >
    </p><p>
        <label for="booking_end">Booking End </label>
        <input type="text" id="booking_end" name="booking_end" formControlName="booking_end">
    </p>
    <p>
        <button type="submit"  >book!</button>
    </p>
    </form>
    <br>
</mat-card><br>
</body>
